.burger {

    // Taille du bouton
    width:10rem;
    height:10rem;

    background-color: black;

    .burger__ligne {
        position:absolute;

        width:100%;
        height:100%;

        background-color: white;
    }

}