.animation {

    display:flex;

  

    width: 90%;

    border: solid black 1px;

    

    &__bloc {

        width:100px;
        height:100px;

        display:flex;

        justify-content: center;

        align-items: center;

        border-radius: 50%;

        color:white;

        background-color: $color__colorbackground-footer;

        transform: translateX(0) translateY(0);
        animation: anim_bloc 1s 1s backwards;

    }

    &__bloc:nth-of-type(1){

        animation-delay: .25s;
    

    }

    &__bloc:nth-of-type(2){

        animation-delay: .5s;
    
    }


    &__bloc:nth-of-type(3){
        animation-delay:.75s;
    }


    &__bloc:nth-of-type(4){
        animation-delay: 1s;
    }


    &__bloc:nth-of-type(5){
       animation-delay: 1.25s;

    }

    &__bloc:nth-of-type(6){
        animation-delay: 1.5s;
 
     }

     &__bloc:nth-of-type(7){
        animation-delay: 1.75s;
 
     }

    @keyframes anim_bloc {

        0% {
            transform: translateY(-100vh);
        }

        100% {
            transform:translateY(0);
        }

    }


}

@keyframes anim_recherche {

    0%{
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }



}




.util {

    animation: anim_recherche 1s ease-in-out backwards;
    
}


.animation {

    align-items: center;
    justify-content: space-around;

    &__bloc{

        font-size: 3rem;
        font-weight: bold;
        color: black;
    }
}

