// Les variables de couleurs

$color__background-body: #1f2833;
$color__colorbackground-header:#45A29E;
$color__colorbackground-barre: #0b0c10;
$color__colorbackground-main: #1f2833;
$color__colorbackground-footer:#66fcf1;


// LIENS 

$color__link: #00f;
$color__link-visited: rgb(91, 91, 185);
$color__link-hover:#666;
$background__link-hover: black;
 
// LIENS FOOTER 

$color__link__footer: #f00;
$color__link__footer-visited: green;
$color__link__footer-hover:yellow;
$background__link-hover: black;

// ============================= LIENS HEADER ============================= //
$color__link__header: rgb(223, 24, 24);
$color__link__header-visited:rgb(221, 221, 14);
$color__link__header-hover:green;




// ==================================    BOUTONS MENU CATÉGORIE    ==========================================//
$color__bouton__color : teal;
$color__bouton__color--hover : lightblue;
$color__bouton__background : gray;



// =================================    COULEURS TITRE      =========================================== //
$color__titre__principal : darkblue;
$color__titre__secondaire : rgb(23, 255, 108);
$color__titre__ternaire : rgb(108, 45, 202);

