@mixin fonts($font_titre, $font_article,$font_menu) {


 h2 {font-family: $font_titre ;

 }


    
    p{
        font-family: $font_article;
    }


    a {
        font-family: arial;
    }

}



@mixin lesFlex($flexColonne, $flexLigne) {


     flex-flow: $flexLigne;

     &__menu {
         flex-flow: $flexColonne;
     }

}



@mixin breakpoints($largeur__media-tablette, $largeur__media-desktop) {

}