.conteneur__atelier {
    position: relative;

    width:100%;
    height:100%;

    display: flex;

    flex-flow: column nowrap;

    justify-content: space-around;
    align-items: center;
}


.html__css {
    background-image: url('https://s2.svgbox.net/files.svg?ic=html');
}

.intro__git {
    background-image: url('https://s2.svgbox.net/files.svg?ic=git');
}

.intro__react {
    background-image: url('https://s2.svgbox.net/files.svg?ic=reactjs');
}

.css__avance {
    background-image: url('https://s2.svgbox.net/files.svg?ic=css');
}



// .menu-atelier-container {
//     display: flex;

//     flex-flow: row nowrap;
// }