
.web {
    background-image: url('https://s2.svgbox.net/hero-outline.svg?ic=globe');
}

.video {
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=camera');

}

.creation-3d {
    background-image: url('https://s2.svgbox.net/hero-outline.svg?ic=cube-transparent');
}

.design {
    background-image: url('https://s2.svgbox.net/hero-outline.svg?ic=pencil');
}


.jeu {
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=videogame_asset');
}


.cours__carte {
    background-repeat: no-repeat;
    background-position: 93% 3%;
    background-size: 30px;
}

.hide {
    // Tous les éléments à cacher

    display: none;
}