.site__footer {


&__menu { //.site__footer__menu


    &__ul { // .site__footer__menu__ul
        display: flex;
        list-style-type: none;

        justify-content: center;

        .menu-item { //.site__footer__menu__ul .menu-item

            margin: 10px 5px;

            a { //.site__footer__menu__ul .menu-item a

                display: flex;
                align-items: center;

                padding: 3px;
                svg{ //.site__footer__menu__ul .menu-item a svg
                    color: aqua;
                }
            }

        }
    }
}

}

.site__footer > section {

    display: flex;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
