.menu-categorie_cours-container {       //  nav




    .menu{      // ul
        display:flex;
        
        list-style-type: none;


        .menu-item {        // li
            margin:0 15px 0 15px;

            display:flex;
            flex-flow: column nowrap;

            a{
             //   color: $color__bouton_color ;
                padding: 5px;
                display: flex;
                flex-flow: column nowrap;

                border: 1px white solid;
                border-radius: 10%;

                background-color: teal;

            }




        }

        &:hover {
            a{
               
            }
        }
    }
}


menu.menu-categorie_cours > ul > li {
    display: flex;

    flex-direction: column;
}