#chk-burger {
    display:none;
}

#chk-burger:checked ~ #burger {

   // transform: rotate(90deg);

}

#burger {
    position: absolute;
  //  transition:transform .3s;

    @media screen and (min-width: $largeur__media-tablette) {
        display:none;
    }
}

#chk-burger:checked ~ .menu-principal-container {

   display:block;

  //  transform:translateX(0);

   // opacity:1;
}

.menu-principal-container {

    padding: 20px 0 0 0;

   // transform:translateX(-100%);
  
  display:none;

  // display:block;

  // opacity:0;

   

    @media screen and (min-width:$largeur__media-tablette) {


        display:block;
    }

    // display:none;
}

.menu {

    list-style-type:none;
    margin:0;
    padding:0;

}

.menu-item {
    margin: 0;

    
    a {

        transition:background-color .3s;

        display:block;
        padding:3px;

        text-decoration: none;
        &:hover {
            background-color: $color__colorbackground-footer;
        }
    } 
    
}

#menu-simple {

    justify-content: space-around;
    
}



.menu-principal-container {height: 100%;}

#menu-principal {

    height:100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: space-around;

}

.menu {

    li {

        a {
            display: flex;
            align-items: center;
        }
    }
    
}


#menu-evenement {
    display: flex;
}

.menu-evenement-container {
    display:flex;
}