.recherche {

    background-color: rgba(#000, .1);
    width: 300px;
    position: relative;

&__input {

    background-color: transparent;

}

&__bouton{

    position: absolute;
    top:0;
    right:0;

    display:flex;

    justify-content: center;
    align-items: center;

    svg{

    }

}

}



.wp-recherche {



}


.wp-block-search__button {


    background-image: url("https://s2.svgbox.net/hero-outline.svg?ic=search");

    background-image: no-repeat;

    background-position: center;

    margin-left: 0;
    width: 30px;
    height:30px;

} 